{% extends 'AppCore/Base.html' %}

{% block NombrePestania %}
{{clave_nombre_pestania}}
{% endblock %}


{% block contenido %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div class="container marketing">
	
		<hr class="featurette-divider">
		<div class="row featurette">
		  <div class="col-md-7">
		    <h2 class="featurette-heading"><span class="text-muted">SERGIO LÓPEZ</span></h2>
			<a class="lead" href="https://es.linkedin.com/in/sergio-l%C3%B3pez-rapado-85280a63">LINKEDIN</a>
		    <p class="lead">CV</p>
		  </div>
		</div>

		<hr class="featurette-divider">
		<div class="row featurette">
		  <div class="col-md-7">
		    <h2 class="featurette-heading"><span class="text-muted">HECTOR LÓPEZ</span></h2>
			<a class="lead" href="#">LINKEDIN</a>
		    <p class="lead">CV</p>
		  </div>
		</div>
		
	<hr class="featurette-divider">	
	</div>
{% endblock %}