{% extends 'AppCore/Base.html' %}

{% block NombrePestania %}
{{clave_nombre_pestania}}
{% endblock %}


{% block contenido %}

	<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading"><span class="text-muted">TITULO 1</span></h2>
	    <p class="lead">CONTENIDO 1</p>
	    </span>
	  </div>
	</div>
	</div>
	
	<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading"><span class="text-muted">TITULO 2</span></h2>
	    <p class="lead">CONTENIDO 2</p>
	    </span>
	  </div>
	</div>
	<hr class="featurette-divider">
	</div>
{% endblock %}